<%= turbo_frame_tag "comment_#{comment.id}" do%>
<div class="flex items-start space-x-3 py-2 group">
    <img class="h-8 w-8 rounded-full object-cover" src="https://i.pravatar.cc/300?img=6" alt="Commenter avatar">
    <div class="bg-gray-100 px-3 py-2 rounded-lg w-full relative">
        <p class="text-sm"><span class="font-semibold"><%= comment.user.email%></span> <%= comment.content%></p>
        <% if current_user.id==comment.user_id%>
        <div class="absolute right-1 top-[10%] hidden group-hover:block">
            <%= button_to "Delete", comment_path(comment), method: :delete, class: ""%>
        </div>
        <% end %>
    </div>
</div>
<% end %>